/* Variables */
:root {
  --color-primary: #FF4F21;
  --color-secondary: #D10000;
  --color-background: #121212;
  --color-white: #FFFFFF;
  --font-title: 'Anton', sans-serif;
  --font-body: 'Inter', sans-serif;
}

/* Genreal */
html, body {
  background-color: var(--color-background) !important;
  color: var(--color-white) !important;
}

/* Navbar */
.navbar {
    height: 80px;
}

.nav-link {
    color: var(--color-white) !important;
    font-size: 18px;
    border-radius: 15px;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: var(--color-primary);
}

.nav-link.entrada {
    background-color: var(--color-secondary);
}

.nav-link.entrada:hover {
    background-color: var(--color-primary);
}

/* Toggler personalizado */
.navbar-toggler {
    border-color: var(--color-white);
}

.navbar-toggler-icon {
    filter: invert(1);
}