/* Navbar */
.navbar {
    height: 80px;
}

.nav-link {
    color: var(--color-white) !important;
    font-size: 18px;
    border-radius: 15px;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: var(--color-primary);
}

.nav-link.entrada {
    background-color: var(--color-secondary);
}

.nav-link.entrada:hover {
    background-color: var(--color-primary);
}

/* Toggler personalizado */
.navbar-toggler {
    border-color: var(--color-white);
}

.navbar-toggler-icon {
    filter: invert(1);
}